body {
    background-color: black;
}
#cardsCharacters .card {
    background-color: #808080;
    color: white;
}
#cardsCharacters a {
    color: white;
    text-decoration: none;
}
.menuChar {
    list-style: none;
}
.menuChar li a:hover {
    background: #5F9EA0;
}
.menuChar li a {
    background-color: white;
    text-decoration: none;
}
.menuChar li:not(:first-child) {
    margin-left: 10px;
}